
<h1>Az oldalon található öszes esemény   </h1>
<div class="events-container">
@for (event of EventObject; track $index) {
    <div class="event-card">
        <mat-card>
            <img mat-card-image [src]="EventObject[$index].pic" alt="{{EventObject[$index].name}}">
            <mat-card-header>
                <mat-card-title>{{EventObject[$index].name}}</mat-card-title>
              </mat-card-header>
                <mat-card-content>
                    <p>{{EventObject[$index].description}}</p>
                    <p><strong>Helyszín:</strong> {{EventObject[$index].location}}</p>
                    <p><strong>Kezdés:</strong> {{EventObject[$index].startDate | date:'short'}}</p>
                    <p><strong>Vége:</strong> {{EventObject[$index].endDate | date:'short'}}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button
                    [ngClass]="{ 'disabled-button': hasStarted(event.startDate) }" 
                    [disabled]="hasStarted(event.startDate)">
                      Érdekel</button>
                  </mat-card-actions>
        </mat-card>
    </div>
}
</div>
