<mat-nav-list>
    <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Home</span>
    </a>
    <a mat-list-item routerLink="/orsok" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>orsok</mat-icon>
      <span matListItemTitle>Orsók</span>
    </a>
    <a mat-list-item routerLink="/Botok" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>botok</mat-icon>
      <span matListItemTitle>Botok</span>
    </a>
  </mat-nav-list>