<mat-nav-list>
    <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closeMenu()">
      <mat-icon matListItemIcon>home</mat-icon>
      <span matListItemTitle>Főoldal</span>
    </a>
    <a mat-list-item routerLink="/termekek" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Termékek</span>
    </a>
    <a mat-list-item routerLink="/esemenyek" routerLinkActive="active-list-item" (click)="closeMenu()">
      <span matListItemTitle>Események</span>
    </a>
  </mat-nav-list>