<div class="product-page-container">
<h1>Az oldalon található öszes termék   </h1>
<div class="filter-container">
  <label for="maxPrice">Maximális ár:</label>
  <input matInput placeholder="Írja be a maximális árat"
    type="number"
    id="maxPrice"
    [(ngModel)]="maxPrice"
    placeholder="Írja be a maximális árat"
  >
  <button mat-flat-button (click)="getFilteredProducts()">Szűrés</button>
</div>
<div class="products-container">
@for (product of filteredProducts; track $index) {
    <div class="product-card">
        <mat-card>
            <img mat-card-image [src]="filteredProducts[$index].pic" alt="{{filteredProducts[$index].name}}">
            <mat-card-header>
                <mat-card-title>{{filteredProducts[$index].name}}</mat-card-title>
                <!-- <mat-card-subtitle>{{ProductObject[$index].category}}</mat-card-subtitle> -->
              </mat-card-header>
            <div class="overlay">
                <mat-card-content>
                    <p>{{filteredProducts[$index].description}}</p>
                    <p><strong>Ár:</strong> {{filteredProducts[$index].price}} Ft</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button>Kosárba</button>
                  </mat-card-actions>
            </div>
        </mat-card>
      </div>
}
</div>
</div>