.product-page-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    // border: 1px solid black;
    height: 100vh;
    // width: 100vw;
}
.filter-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    // border: 1px solid black;
    gap: 1em;
    width:fit-content;
    background-color: #58a7b3;
    border-radius: 10px;
    padding: 20px 0px 20px 20px;
}
.filter-container input{
    width: 80%;
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding-left: 1em;
    background-color: white;
}
.filter-container button{
    &:hover{
        cursor: pointer;
        border: 1px solid #438797;
    }
}
.products-container {
    margin-top: 10px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items:flex-start;
    // border: 1px solid black;
    justify-content: flex-start;
    // height: 80vh;
    margin-left: 10%;
    padding: 20px;
    width: fit-content;
    background-color: #f0f0f0;
}

.product-card:hover .overlay {
    bottom: 0;
    height: 100%;
  }

.product-card{
    display: flex;
    max-height: 300px;
    max-width: 200px;   
    flex-direction: column;
    // border: 5px solid black ;
    border-radius: 12px;
}
.product-card:hover{
    cursor: pointer;
}
.product-image{
    display: flex;
    border-radius: 12px;
}
.card-header{
   display: flex;
    //border: 1px solid black;
   justify-content: center;
   position: fix;
   padding-bottom: 0px;
}
// mat-card-title{
//     font-size: 1.2rem;
//     font-weight: bold;
//     color: #333;
//     padding-bottom: 0px;
//     margin-bottom: 0.5rem;
//     display: flex;
//     align-items: center;
// }
.product-image img {
    display: flex;
    max-height: 200px;
    max-width: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.overlay {
    display: block;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #58a7b3;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
@media (max-width: 480px) {
    .product-card {
        width: 100%;
    }
}
