<div class="cart-page-container">
<h1>A te kosarad</h1>
<div class="cart-container">
    <div class="product-container">
    <table mat-table [dataSource]="products" class="mat-elevation-z8">
        <ng-container matColumnDef="pic" >
            <th mat-header-cell *matHeaderCellDef> Kép </th>
            <td mat-cell *matCellDef="let product"> <img mat-card-image [src]="product.pic" alt="{{product.name}}"> </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Név </th>
            <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Kategória </th>
            <td mat-cell *matCellDef="let product"> {{ product.category }} </td>
          </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Mennyiség </th>
                <td mat-cell *matCellDef="let product">
                    <input id="quantity-input" type="number" min="1" max="10" [defaultValue]="1"> 
                </td>
            </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Leírás </th>
            <td mat-cell *matCellDef="let product"> {{ product.description }} </td>
          </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Ár </th>
              <td mat-cell *matCellDef="let product"> {{ product.price | currency:'HUF':'symbol':'1.0-0' }} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let product; let i = index">
                <button mat-flat-button color="warn" (click)="removeFromCart(i)">Törlés</button>
            </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="ProductsdisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: ProductsdisplayedColumns;"></tr>
    </table>
    </div>
    <div class="total-container">
        <div class="coupon-container">
            <form class="coupon-form">
                <mat-form-field class="coupon-full-width">
                  <mat-label>Kuponkód</mat-label>
                  <input matInput placeholder="Írd ide a kuponod"
                  [(ngModel)]="couponCode"
                  name="couponCode">
                </mat-form-field>
              </form>
                <button mat-raised-button style="background-color: #58a7b3; color: white;" class="apply-coupon-button"
                (click)="applyCoupon()"
                >Kupon alkalmazása</button>
        </div> 
        <h2>Végösszeg:</h2>
        <p>
          {{discountedPrice |  currencyPipe }}
        </p>
        <button mat-raised-button style="background-color: #58a7b3; color: white;" (click)="checkout()" class="checkout-button">Fizetés</button>
    </div>
</div>
</div>